body{
    background-color: #eed4f3;
    font-family: "Poppins";
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .title1{
    font-size: 30px;
    color: #ad4dca;
    margin-bottom: 10px;
    margin-top: 10px;
}


.btn-primary{
    background-color: #ad4dca;
    color: #FFFF;
    border-radius: 15px;
    border-color: white;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
}

