body{
    background-color: #F4F7FB;
    font-family: "Poppins";
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .title1{
    font-size: 30px;
    color: #ad4dca;
    margin-bottom: 10px;
    margin-top: 10px;
}