body{
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: #eed4f3;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el main ocupe toda la altura del body */
}

  h1{
    font-size: 30px;
    color: #ec39c0;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 0 0 5px #f7f0f5;
}

/*Caja que contiene los botones*/
.container {
    background: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(3px);
    padding: 40px;
    border-radius: 15px;
    max-width: 400px;
    width: 85%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/*posicion de los botones*/
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

/*estilo de los botones*/
.buttons a {
    text-decoration: none;
    background: #fa292924;
    padding: 12px;
    border-radius: 10px;
    color: #ec39c0;
    font-weight: 600;
    transition: 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.buttons a:hover {
    background: rgba(255, 255, 255, 0.28);
    transform: scale(1.03);
    box-shadow: 0 0 20px #f58ddb;
}

.footer {
  text-align: center;
  padding: .2rem 0;
  margin-top: 0rem;
  border-top: 3px solid #f279e8;
  opacity: 0.8;
  font-size: 0.9rem;
}

