body{
    background-color: #eed4f3;
    font-family: "Poppins";
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .title1{
    font-size: 30px;
    color: #ad4dca;
    margin-bottom: 10px;
    margin-top: 10px;
}

.code-block{
    background-color: #f3e6f8;
    padding: 15px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}